<h1>Welcome to Algo App!</h1>
<h3>Stay on the Cutting Edge while keeping better track of your Code!</h3>
<br>
<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Dz4xdNRBtZk?rel=0" allowfullscreen></iframe>
</div>
<br>
<br>
<div class="text-center">
	<a href="/posts/new"><button class="btn btn-success btn-lg">Post Your First Algorithm Now!</button></a>
</div>