<div class="col-md-6">
  <div class="row">
    <div class="col-lg-12">
      <form action="/search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for..." name="search">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit" data-disable-with="Searching..">Go!</button>
          </span>
        </div><!-- /input-group -->
      </form>
    </div><!-- /.col-lg-12 -->
  </div>

  <h3>Algorithm Feed</h3>
  <em>Featuring the latest algorithms posted by developers near and far..</em>
  <%= render 'layouts/posts' %>
</div>

<div class="col-md-6">
  <%= render 'layouts/welcome' %>
  <%= render 'layouts/category' %>
</div>