<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Algorithm Categories</h3>
  </div>
  <div class="panel-body">
    <em>Search for an algorithm by category</em><br>
    <a href="/mains/sort"><span class="label label-default">Sort</span></a>
    <a href="/mains/array"><span class="label label-default">Array</span></a>
    <a href="/mains/binarysearch"><span class="label label-default">BinarySearch</span></a>
    <a href="/mains/recursion"><span class="label label-default">Recursion</span></a>
    <a href="/mains/linkedlist"><span class="label label-default">LinkedList</span></a>
    <a href="/mains/divide&conquer"><span class="label label-default">Divide&Conquer</span></a>
  </div>
</div>