<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <% if !signed_in? %>
        <a class="navbar-brand" href="/mains">AlgoApp</a>
      <% end %>
      <% if signed_in? %>
        <a class="navbar-brand" href="/posts">AlgoApp</a>
      <% end %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <% if signed_in? %>
      <ul class="nav navbar-nav">
        <li><a href="/feed">My Feed</a></li>
        <li><a href="/users">Discover Users</a></li>
        <li><a href="/posts/new">Post Algorithm</a></li>
      </ul>
      <% end %>
      <% if !signed_in? %>
      <form class="navbar-form navbar-right" action="/sessions" method="post">
        <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
        <div class="form-group">
          <input type="text" placeholder="Email" name="session[email]" class="form-control">
        </div>
        <div class="form-group">
          <input type="password" placeholder="Password" name="session[password]" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
      <% end %>
      <% if signed_in? %>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <img src="<%= session[:gravatar] %>" class="img-circle" id="navbar-pic" alt="user image">
            <%= session[:user_name] %><span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/profile">My Profile</a></li>
              <li><a href="/posts/new">Post Algorithm</a></li>
              <li><a href="/feed">My Feed</a></li>
              <li><a href="/users">Discover Users</a></li>
              <li class="divider"></li>
              <li><a href="/change_password">Change Password</a></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div><!--/.navbar-collapse -->
  </div>
</nav>