<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">AlgoApp Tip!</h3>
  </div>
  <div class="panel-body">
    Following a user is a great way to keep track of people who are posting great algorithms you're interested in. You can see all the users you're following in your profile page. 
  </div>
</div>  