<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome to AlgoApp!</h3>
  </div>
  <div class="panel-body">
    AlgoApp allows you to easily keep track of your algorithm solutions and connect with other developers! Here you can discover solutions to algorithms you're having trouble with or post solutions to your own you find especially good. If it is your first time here, why not <a href="/posts/new"><button class="btn btn-success btn-xs">Post an Algorithm!</button></a>
  </div>
</div>  