<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome to AlgoApp!</h3>
  </div>
  <div class="panel-body">
    Here you can discover creative algorithms, post reviews and get feedback for your own code. Have fun learning and connecting with other developers! 
  </div>
</div>  